@media only screen and (min-width: 700px) {

    /*index*/
    body {
        background-color: #2A2B69;
    }
    h1 {
        display: none;
    }

    .boxx {
        width: 100%;
        height: 136px;
        background-color: #2A2B69;
        margin-top: -470px;
        z-index: 8;
        position: relative;
        opacity: 0%;
        overflow: scroll;
        border-radius: 700px;
        transition: 3s;
        box-shadow: 0 0 200px 150px #2A2B69;
    }

    .boxx.swipe {
        background-color:#F5F6F6;
        opacity: 100%;
        z-index: 0;
        width: 100%;
        height: 120%;
        transition: 2s;
        margin-top: -75vw;
        position: fixed;
        overflow: scroll;
        border-radius: 20px;
        margin-left: auto;

    }

    #home {
        opacity: 100%;
        z-index: 0;
        height: 1200px;
        width: 100%;
        margin-top: 136px;
        border-style: none;
        position: relative;
        border-radius: 20px;
        overflow: scroll;
    }

    .everything {
        background-color: #2A2B69;
        box-shadow: 0 0 5px 10px #2A2B69;
    }

    iframe {
        box-shadow: 0 0 5px 10px #2A2B69;
    }

    .webstriker {
        width: 100%;
        margin-top: 15px;
        z-index: -3;
    }

    .mobilestriker {
        display: none;
    }

    .strike {
        font-family: tenez, sans-serif;
        font-style: italic;
        font-weight: 900;
        color: #F5F6F6;
        font-size: 5vw;
        position: fixed;
        margin-top: 180px;
        margin-left: 43%;

    }

    .happy {
        font-family: tenez, sans-serif;
        font-style: normal;
        font-weight: 100;
        color: #F5F6F6;
        letter-spacing: 3vw;
        font-size: 8vw;
        z-index: -3;
        margin-top: 150px;

    }



    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        padding: 10px;
        margin-top: 20px;
        width: 80%;
        height: 1000px;
        background-color: #2A2B69;

    }


    
    .grid-item {       
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 14px;
        font-size: 30px;
        text-align: center;
        width: 10vw;
        position: relative;
    }

   .grid-item: hover{
        box-shadow: 0px 0px 20px 0px rgb(245, 246, 246, 1);
        transition: 1s;
        position: relative;

    }
  .grid-containerm {
        display: none;


    }
    .grid-itemm {
        display: none;
    }

    .grid-itemmm {
        display: none;
    }



}


@media only screen and (max-width: 700px) {


    /*index*/
        .grid-item {         
        width: 10vw;
        padding-top: 20px;

    }

    body {
        background-color: #F5F6F6;

    }
    .everything {
        background-color: ;
        box-shadow: 0 0 5px 10px #F5F6F6;

    }

    .strike {
        font-family: tenez, sans-serif;
        font-style: italic;
        font-weight: 900;
        color: #2A2B69;
        font-size: 12vw;
        position: relative;
        margin-top: 35vh;

    }

    .boxx {
        width: 100%;
        height: 136px;
        background-color: #F5F6F6;
        margin-top: -30vh;
        z-index: 8;
        position: relative;
        opacity: 0%;
        overflow: scroll;
        border-radius: 700px;
        transition: 3s;
        box-shadow: 0 0 200px 150px #F5F6F6;
    }

    .boxx.swipe {
        opacity: 100%;
        z-index: 0;
        width: 100%;
        height: 120%;
        transition: 2s;
        margin-top: -160%;
        position: fixed;
        overflow: scroll;
        border-radius: 20px;
        margin-left: auto;
        border-style: none;
        background-color: #F5F6F6;

    }

    #home {
        opacity: 100%;
        z-index: 0;
        height: 1200px;
        width: 100%;
        margin-top: 136px;
        border-style: none;
        position: relative;
        border-radius: 20px;
        overflow: scroll;
        background-color: ##F5F6F6;
    }

    .happy {
        font-family: tenez, sans-serif;
        font-style: normal;
        font-weight: 100;
        color: #2A2B69;
        letter-spacing: 3vw;
        font-size: 8vw;
        z-index: -3;
        margin-top: 100px;
    }


    .webstriker {
        display: none;
    }

    .mobilestriker {
        width: 85%;
        margin-top: -40vh;

    }
    .grid-container {
        display: none;
        position: relative;
    }
    
    .grid-containerm {
        display: grid;
        grid-template-columns: auto;
        margin-top: 60px;
        width: 80%;
        position: relative;
    }
    .grid-itemm {
        padding-bottom: 20px;
                position: relative;
    }

}
